extends layouts/main

block head_end
    link(rel="stylesheet" href="/assets/css/main.min.css")

block content
    include sections/header
    include sections/about-us


block body_end
    script(type="text/javascript" src="/assets/js/main.min.js")
