.header {
  background-color: $dark-background;
  color: $against-a-dark-background;
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88% );
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1.875rem 0;
  }
  &__contact {
    flex: 1 1 auto;
    margin-left: .5rem;
  }
  &__logo {
    padding: 0;
    margin: 0;
    font-family: $ff-additional;
    text-transform: capitalize;
    font-size: 4.1rem;
    flex: 1 1 auto;
    line-height: 1;
    transition: all 0.3s;
    &__string {
      width: 10rem;
      padding: 0;
      margin: 0 auto;
      line-height: 0.7;
    }
    //&:hover {
    //  color: $active-color;
    //}
  }
  &__icon {
    position: relative;
    flex: 1 1 auto;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
  }
}

// Small devices (landscape phones)
//@media (max-width: 768px) {
//  .header {
//    &__toggle {
//      margin-left: auto;
//      margin-right: 1rem;
//      display: block;
//    }
//  }
//}
