.nav {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  margin: 0 auto;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  &__link {
    display: table-cell;
    margin: 0;
    padding: .7rem 0;
    vertical-align: top;
    font-family: $ff-main;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: $against-a-dark-background;
  }
  &__link:hover {
    color: $active-color;
    //border-bottom: 1px solid $active-color;
  }
  &__link:active {
    color: $active-color;
  }
}


// Small devices (landscape phones)
@media (max-width: 768px) {
  .nav {
    display: none;
    &__link {
      padding: 0;
      margin: .5rem auto;
      font-size: 1rem;
    }
    &__link--active::after {
      display: none;
    }
    &.open {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      align-items: stretch;
      flex-direction: column;
      flex-basis: 100%;
      margin-top: 1rem;
    }
  }
}
