@mixin button_against-a-dark-background(
  $display: inline-block,
  $width: 10.55rem,
  $padding: 0.705rem 0,
  $background: transparent,
  $color: $against-a-dark-background,
  $border: 1px solid $against-a-dark-background,
  $border-radius: 2px,
  $font-family: $ff-main,
  $font-size: 0.675rem,
  $text-decoration: none,
  $text-transform: uppercase,
  $text-align: center,
  $transition: 0.3s
){
  display: $display;
  width: $width;
  padding: $padding;
  background: $background;
  color: $color;
  border: $border;
  border-radius: $border-radius;
  font-family: $font-family;
  font-size: $font-size;
  text-decoration: $text-decoration;
  text-transform: $text-transform;
  text-align: $text-align;
  transition: $transition;

  &:hover, &:active, &--active {
    background: $active-color;
    border: 1px solid $active-color;
  }
}


@mixin button-against-a-white-background(
  $display: inline-block,
  $padding: 0.7rem 1.4rem,
  $background: $active-color,
  $color: $against-a-dark-background,
  $border: 1px solid $active-color,
  $border-radius: 2px,
  $box-shadow: -1px 1px 10px 1px $transparent-shadow,
  $font-family: $ff-main,
  $font-size: 0.675rem,
  $text-decoration: none,
  $text-transform: uppercase,
  $text-align: center,
  $transition: 0.3s
){
  display: $display;
  padding: $padding;
  background: $background;
  color: $color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font-family: $font-family;
  font-size: $font-size;
  text-decoration: $text-decoration;
  text-transform: $text-transform;
  text-align: $text-align;
  transition: $transition;

  &:hover, &:active, &--active {
    background: darken($active-color, 15%);
    border: 1px solid darken($active-color, 15%);
  }
}

@mixin button-against-a-grey-background(
  $display: inline-block,
  $padding: 0.7rem 1rem,
  $background: $main-fonts-color,
  $color: $against-a-dark-background,
  $border: 1px solid $main-fonts-color,
  $border-radius: 2px,
  $box-shadow: -1px 1px 10px 1px $transparent-shadow,
  $font-family: $ff-main,
  $font-size: 0.675rem,
  $text-decoration: none,
  $text-transform: uppercase,
  $text-align: center,
  $transition: 0.3s
){
  display: $display;
  padding: $padding;
  background: $background;
  color: $color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font-family: $font-family;
  font-size: $font-size;
  text-decoration: $text-decoration;
  text-transform: $text-transform;
  text-align: $text-align;
  transition: $transition;

  &:hover, &:active, &--active {
    background: $active-color;
    border: 1px solid $active-color;
  }
}