section.about-us
  ul.about-us__list-picture
    li.about-us__item
      img.about-us__picture(src="assets/img/gallery-1.jpg" alt="picture")
    li.about-us__item
      img.about-us__picture(src="assets/img/gallery-2.jpg" alt="picture")
    li.about-us__item
      img.about-us__picture(src="assets/img/gallery-3.jpg" alt="picture")
  .about-us__hero
    .container
      h1.about-us__title.second About us
      .about-us__hero-wrapper
        .about-us__hero-art
          h2.about-us__hero__title Welcome to tattoo studio!
          p.about-us__hero__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          |ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          |aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          |fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          |anim id est laborum.
        .about-us__hero-art
          h2.about-us__hero__title We're open in dolomite street
          .art-wrapper
            img.about-us__hero__picture(src="img/hero_1.jpg" alt="picture")
            p.about-us__hero__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              | ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              | aliquip ex ea commodo consequat.
            p.about-us__hero__address 21-26 Dolomite Street, City centre, Piymouth, Devon
            p.about-us__hero__time Monday to Friday 11am-6pm. saturdays 9am-9pm
