header.header
  .container
    .header__wrapper
      p.header__contact Tel: 0800 000 000
      .header__logo
        p.header__logo__string Tatoo
        p.header__logo__string Studio
      .header__icon
        a.icon-facebook(href="#")
    include nav
