.btn-burger {
  width: 39px;
  height: 39px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $against-a-dark-background;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; //ease-in-out - переход медленно начинается и медленно заканчивается
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 16px;
    }
    &:nth-child(4) {
      top: 32px;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }
  }
}